/* AppBar */

.AppBar-Root {
  display: flex;
  justify-content: center;
  padding: 8px;
  background-color: #3f51b5;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  position: static;
  min-height: 56px;
}

.AppBar-TextField-Wrapper {
  display: flex;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  padding: 4px 8px 4px 8px;
  max-width: 700px;
  background-color: #fff;
  width: 100%;
  border-radius: 2px;
}

/* TodoListItem */

.TodoListItem-Wrapper {
  display: flex;
  padding: 8px;
  min-height: 48px;
  align-content: center;
  font-family: inherit;
  margin-bottom: 2px;
  border-radius: 2px;
}

.TodoListItem-Wrapper.done {
  background-color: #bdbdbd;
}

.TodoListItem-Wrapper.undone {
  background-color: #fff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.TodoListItem-NameBlock {
  display: flex;
  font-family: inherit;
  align-items: center;
  padding: 4px 0px 4px 8px;
  flex-grow: 1;
}

.TodoListItem-InputArea {
  display: flex;
  width: 80px;
  padding: 4px 0px 4px 0px;
}

.TodoListItem-Input {
  width: 24px;
  height: 24px;
  margin-left: 16px;
}

.AppBarPaperWrapper {
  display: flex;
  justify-content: center;
  background-color: red;
}
